.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
.positai
.env
/.quarto/
**/*.quarto_ipynb
data/
run.bat.claude/
Take-home_Ex/Example/
Take-home_Ex/VAST_Challenge_2026_MC1/
Take-home_Ex/VAST_Challenge_2026_MC2/
.claude/
